nav .top{
    padding: 1.5rem 0;
}

nav .top .contact h5,
nav .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: .25rem;
}

nav .top .contact h6,
nav .top .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: .75rem;
    color: var(--ternary);
}

nav .top .contact img,
nav .top .time img{
    margin-right: 1rem;
}

nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;

    transition: all .3s ease;
    
}

nav .navbar a.active,
nav .navbar a:hover{
    background-color: var(--primary);
    color: var(--pure);
}