section{
    padding: 4rem 0;
}

section.top-products{
    background: var(--light);
}

section.top-products .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
}

section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    padding-bottom: 1rem;
    object-fit: contain;
}

hr{
    border: 1px solid var(--light);
    opacity: .8;
    margin: 1rem 0;
}

section.top-products .food-slider .food-card h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: .25rem;
}

section.top-products .food-slider .food-card .stars{
    margin-bottom: .5rem;
}

section.top-products .food-slider .food-card .stars img{
    margin-right: .25rem;
}

section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--secondary);
    background-color: var(--heaven);
    border: 2px solid var(--primary);

    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;

    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}


section.top-products .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}


.food-slider .food-card button img{
    background: var(--primary);
    padding: .5rem;
    height: 32px;
    margin-right: 1.2rem;
}


.slick-slide{
    margin: 0 27px;
}

.slick-list{
    margin: 0 -27px;
}

.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);

    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}

.next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}

.top-products .slider{
    position: relative;
}

.top-products .btn-wrapper{
    margin-top: 2rem;
}

.slick-track{
    padding: 1rem 0;
}
