section.about-meal img{
    width: 85%;
}

section.about-meal h2{
    font-family: "Raleway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3;
}

section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
}

